<nav class="navbar navbar-expand-sm bg-info navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">ISET</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bstoggle="
    collapse"
      data-bs-target="#navbarNavAltMarkup"
      ariacontrols="
    navbarNavAltMarkup"
      aria-expanded="false"
      arialabel="
    Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" routerLink="/etudiants">Etudiants</a>
        <a class="nav-link" routerLink="/add-etudiant">Ajout etudiant</a>
        <a class="nav-link" routerLink="/search-etudiant" >Recherche Etudiant</a>
        <a class="nav-link" routerLink="#">Utilisateur</a>
      </div>
    </div>
  </div>
</nav>
